body {
    background-color: #000000;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 100%);
}

canvas { width: 100%; height: 100% }

#header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 60px;
}

#header .logo {
    width: 7%;
    opacity: 1;
}

.logo img {
    width: 100%;
}

.sidenav {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.sidenav a {
    color: #FFFFFF;
    text-decoration: none;
}

.content {
    /* margin: 0 50px; */
    padding-top: 100px;
}

#intro-text {
    position: absolute;
    top: 294px;
    left: 341px;
    min-width: 400px !important;
    inline-size: 150px;
}

#intro-text h1 {
    background-color: #000000;
    font-weight: 500;
    text-align: left;
    display: initial;
    line-height: 1.5;
    padding: 8px;
}

#webgl {
    /* background-color: red; */
    /* border: 1px solid blue; */
    /* width: 100%; */
    /* height: 900px; */
    /* margin: 0 100px; */
    padding: 0px;
    /* fixed or static */
    /* position: static; */
    /* top: 100px; */
    /* left: 100px; */
}
