/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "elza", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  color: #FFFFFF;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100%
}

h1 {
  /* font-size: 2.25rem; */
  font-size: 37px;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
}

h2 {
  /* font-size: 1.875rem; */
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
  margin: 10px 0;
}

h3 {
  /* font-size: 1.25rem; */
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
  margin: 10px 0;
}

p {
  /* font-size: 1.125rem; */
  font-size: 18px;
  line-height: 1.3;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: royalblue !important;
}


header {
  /* padding: 15px 0; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  height: 105px;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 60px;
  padding: 5px 0 0;
  height: 100%;
  /* this one for the fancy white lines */
  border-bottom: 1px solid white;
}

header .logo {
  width: 100px;
}

.logo img {
  max-width: 100%;
}

.sidenav {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidenav-es {
  width: 12% !important;
}

.sidenav a {
  color: #FFFFFF;
  text-decoration: none;
}

.sidenav p {
  /* font-size: 1rem; */
  font-size: 16px;
}

.sm-sidenav {
  display: none;
}

.overlay {
  display: none;
}

.content {
  padding-top: 30px;
  /*padding-top: 100px;*/
}

.list {
  margin: 30px 10px;
}

.list p,
.list a {
  font-family: input-sans, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
  margin: 0px;
}

.list .list-title {
  font-weight: 400;
}

.list .list-date {
  font-weight: 300;
  font-size: 13px;
  font-style: italic;
}

ul.list-list {
  font-family: input-sans, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
  list-style-type: ">";
}

#intro-text {
  position: absolute;
  top: 285px;
  min-width: 500px !important;
  inline-size: 150px;
}

#intro-text h1 {
  font-size: 37.5px;
  font-weight: 500;
  text-align: left;
  display: inline-block !important;
  min-height: 100% !important;
  vertical-align: middle;
  line-height: 1.4;
  /* padding: 0 10px; */
  /* font-family: input-sans; */
}

#intro-text h1 span {
  background-color: #000000;
  padding: 8px 0 8px 0;
}

#webgl {
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color: red; */
  /* border: 1px solid blue; */
  /* width: 100%; */
  /* height: 900px; */
  /* margin: 0 100px; */
  padding: 0px;
  /* fixed or static */
  /* position: static; */
  /* top: 100px; */
  /* left: 100px; */
}

/* work */

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card {
  color: white;
  overflow: hidden;
}

.card a {
  display: flex;
}

.img-cover {
  transition: all 0.4s, transform 0.3s;
  max-width: 100%;
  height: auto;
  filter: grayscale(1);
}

.img-cover:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}

.modal {
  background: #000000 !important;
  max-width: 700px !important;
}

.modal-img {
  width: 100%;
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
}

a.preview {
  text-align: center !important;
}

/* info */

#info-intro,
#contact {
  display: flex;
  /* justify-content: space-between; */
}

.info-img {
  width: 55%;
  justify-self: flex-start;
}

.info-img img {
  width: 100%;
}

.info-text {
  width: 40%;
  padding-left: 50px;
  padding-right: 10px;
}

.content-info {
  /* this one for the fancy white lines */
  /* padding-top: 95px; */
  margin: 125px 60px;
}

#info {
  margin: 50px 250px;
}

#resume {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.section {
  width: 50%;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

/* contact */

#contact {
  justify-content: space-around;
}

.contact-ascii {
  width: 55%;
  text-align: center;
}

.contact-deets {
  width: 45%;
}

.quotebox {
  width: 70%;
  height: 400px;
  margin: 50px auto;
}

.quotebox h1 {
  text-align: center;
}

/* footer */

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  /* padding: 1rem; */
  background-color: #000000;
  text-align: center;
}

footer a,
footer p {
  color: #FFFFFF;
  font-size: 16px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 60px;
  padding: 0 0 5px;
  /* min-height: 99px; */
  /* this one for the fancy white lines */
  border-top: 1px solid white;
}

.socialite a {
  margin: auto 4px;
}

a.spacehey:hover {
  color: royalblue !important;
}

.spacehey {
  background: url('/resources/img/spacehey_icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 20px;
  width: 20px;
  font-weight: 400;
  font-size: 1.25em;
  line-height: .05em;
  vertical-align: -.15em;
}

/* New media queries */

@media only screen and (max-width: 576px) {
  header {
    z-index: 2 !important;
  }

  .navbar {
    margin: auto 20px;
    padding-top: 20px;
  }

  .sidenav {
    display: none;
  }

  .sm-sidenav {
    display: inline-block;
  }

  .sm-sidenav {
    position: relative;
    width: 35px;
    height: 27px;
    cursor: pointer;
    transition: opacity .25s ease;
  }

  .sm-sidenav span {
    background: #FFF;
    border: none;
    height: 3px;
    width: 35px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .sm-sidenav:hover {
    opacity: .7;
  }

  .sm-sidenav.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }

  .sm-sidenav.active .middle {
    opacity: 0;
    background: #FFF;
  }

  .sm-sidenav.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }

  .sm-sidenav span:nth-of-type(2) {
    top: 11px;
  }

  .sm-sidenav span:nth-of-type(3) {
    top: 22px;
  }

  .overlay {
    z-index: 1;
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    display: block;
  }

  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
  }

  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }

  .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }

  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }

  .overlay nav {
    position: relative;
    height: 25%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }

  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }

  .overlay ul li {
    display: block;
    height: 5%;
    min-height: 100px;
    position: relative;
    opacity: 0;
  }

  .overlay ul li a {
    font-family: input-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    color: #FFF;
    overflow: hidden;
    transition: .35s;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }

    100% {
      opacity: 1;
      left: 0;
    }
  }

  #intro-text {
    left: 10%;
    min-width: 150px !important;
    max-width: 250px !important;
  }

  #intro-text h1 {
    font-size: 22px;
  }

  #webgl {
    width: 100%;
    height: 100%;
    display: block;
  }

  footer {
    display: none;
  }

  .sm-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
    height: 10%;
  }

  .sm-footer .footer-nav {
    margin: auto 60px;
    display: flex;
    border: none;
  }

  #info-intro,
  #contact {
    flex-direction: column;
  }

  .info-img,
  .contact-ascii {
    width: 100%;
  }

  .info-text,
  .contact-deets {
    width: 100%;
    padding: 0 15px;
  }

  .content-info {
    padding-top: 100px;
    margin: 10px 20px;
  }

  #info {
    margin: 0 20px;
  }

  .section {
    width: 100%;
  }

  .right {
    align-self: flex-start;
  }

  .img-cover {
    filter: grayscale(0);
  }

  .ascii-element {
    margin: 0;
  }

  .quotebox {
    height: auto;
  }
}

@media only screen and (min-width: 576px) {
  .sidenav {
    width: 20%;
  }

  #intro-text {
    left: 10%;
  }

  #info-intro,
  #contact {
    flex-direction: column;
  }

  #info {
    margin: 0 10%;
  }

  .info-img,
  .info-text {
    width: 100%;
  }

  .info-text {
    padding: 0 10%;
  }

  .section {
    width: 52%;
  }

  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact-ascii,
  .contact-deets {
    width: 100%;
  }

  .contact-deets {
    margin: 0 10%;
  }

  .quotebox {
    height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }

  #info-intro,
  #contact {
    flex-direction: row;
  }

  .info-img,
  .info-text {
    width: 50%;
  }

  .info-text {
    padding: 0 5%;
  }

  .section {
    width: 60%;
  }

  .contact-ascii,
  .contact-deets {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  #intro-text {
    left: 15%;
  }

  .sidenav {
    width: 13%;
  }

  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .sidenav {
    width: 15%;
  }
}

@media only screen and (min-width: 1400px) {
  .sidenav {
    width: 10%;
  }
}