body {
    background-color: #000000;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
}

/* .courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
} */

canvas { width: 100%; height: 100% }

#header {
    /* padding: 15px 0; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    height: 105px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 60px;
    padding: 5px 0 0;
    height: 100%;
}

#header .logo {
    width: 100px;
}

.logo img {
    max-width: 100%;
}

.sidenav {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.sidenav a {
    color: #FFFFFF;
    text-decoration: none;
}

.content {
    padding-top: 30px;
    /*padding-top: 100px;*/
}

#intro-text {
    position: absolute;
    top: 281px;
    left: 345px;
    min-width: 500px !important;
    inline-size: 150px;
}

#intro-text h1 {
    font-size: 37.5px;
    font-weight: 500;
    text-align: left;
    display: inline-block !important;
    min-height: 100% !important;
    vertical-align: middle;
    line-height: 1.4;
    /* padding: 0 10px; */
}

#intro-text h1 span {
    background-color: #000000;
    padding: 8px 0 8px 0;
}

#webgl {
    box-sizing: border-box;
    overflow-x: hidden;
    /* background-color: red; */
    /* border: 1px solid blue; */
    /* width: 100%; */
    /* height: 900px; */
    /* margin: 0 100px; */
    padding: 0px;
    /* fixed or static */
    /* position: static; */
    /* top: 100px; */
    /* left: 100px; */
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
  }

  .footer a {
    color: #FFFFFF;
  }